

<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta charset="utf-8">
    <title>STUID COACHING</title>
  </head>
  <body>
    <h1>
      I'm your coach. Ask me a question, stupid!
    </h1>

    <form action="/answer" method="get" class="form">
      <input type="text" name="ask_question" placeholder="WHAT!?">
      <input type="submit">
    </form>

  </body>
</html>
